[submodule "afboot-stm32"]
	path = afboot-stm32
	url = /home/luca/Scrivania/polito/OSes/project/afboot-stm32.git
[submodule "kernel"]
	path = kernel
	url = /home/luca/Scrivania/polito/OSes/project/kernel/stm32f401re_lnx_5.12.git
